<h1> Friend Tracker </h1>

<div>
  <app-profile-info
    profilPicUrl = 'assets/profil.jpg'
    name = "Marie"
    [age] = "21"
    bio = "I like to eat and swim"
    birthday = "23 March"
    [interests] = " ['Programming', 'Data Science', 'Gardening']"
  ></app-profile-info>

<!--  the second component with different inputs-->

  <app-profile-info
    profilPicUrl = 'assets/profil.jpg'
    [name] = "personName"
    [age] = "24"
    bio = "I like to do climbing and photography"
    birthday = "3 May"
    [interests] = " ['Swimming', 'Photography' , 'Gardening'] "
  ></app-profile-info>
</div>


